---
title: Blog
layout: base.njk
---

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-1/2 w-full mb-16">
        <h3 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-green-900">Blog Posts</h3>
        <div class="h-1 w-16 bg-green-500 rounded"></div>
    </div>
    <div class="-my-8 divide-y-2 divide-gray-100">
        {%- for post in collections.post | reverse -%}
            {% include "article-snippet.njk" %}
        {%- endfor -%}
    </div>
  </div>
</section>