---
title: Homepage
layout: base.njk
---

<div class="max-w-3xl mx-auto pt-16">
    <h1 class="font-black text-6xl text-center text-green-900">Super-simple Blog Setup</h1>
    <p class="text-center text-lg leading-relaxed pt-12 text-gray-600">This page is a template that uses 11ty for static content management and Tailwind CSS for utility based styling. Alpine.js is used as a super-lightweight javascript library that provides simple interactivity.</p>
    <div class="w-full flex items-center pt-8">
        <button class="w-1/4 px-2 py-4 text-center mx-auto bg-green-500 rounded-md text-white font-bold">Start Writing!</button>
    </div>
</div>