---
title: Homepage
layout: base.njk
---
<main class="mx-auto px-2">
    <section>
        <div class="max-w-3xl mx-auto pt-16">
            <h1 class="font-black text-4xl sm:text-6xl text-center text-green-900">Hi, I'm Aidan 😎</h1>
            <p class="text-center text-lg sm:text-xl leading-relaxed pt-12 text-gray-600">I'm a digital developer who does a bit of teaching and a lot of learning.</p>
            <div class="w-full flex items-center pt-8">
                <button class=" w-2/3 sm:w-1/4 px-2 py-4 text-center mx-auto bg-green-500 rounded-md text-white font-bold hover:bg-green-600">Read My Thoughts</button>
            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font bg-green-100 mt-24">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap w-full mb-20">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                    <h3 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Take a look at some of my posts!</h3>
                    <div class="h-1 w-36 bg-green-500 rounded"></div>
                </div>
                <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
            </div>
            <div class="flex flex-wrap -mx-4">
                {%- for post in collections.featured -%}
                    {% include "article-featured.njk" %}
                {%- endfor -%}

            </div>
        </div>
    </section>
</main>